@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&display=swap");
:root {
	/* 	--primary: #78350f; */
	--primary: #55482a;
	--secondary: #ca8a04;
}
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 3px solid var(--primary);
}

.swiper-button-prev::after {
	color: var(--secondary);
}

.swiper-button-next::after {
	color: var(--secondary);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
